
<h1><%= @project.project_name() %></h1>

<form action="/project_delete/<%= @project.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit">Delete Project From Database and all volunteers associated with the project!</button>
</form>


<% if @project.volunteers().any?() %>
  <h3>Here are all the volunteers in this project:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no volunteers on this project!</p>
<% end %>

<h3>Add a volunteer to <%= @project.project_name() %> </h3>

<form action="/volunteers" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">

  <label for="name">Enter in the full name of the volunteer:</label>
  <input name="name" type="text">

  <button type="submit">Add Volunteer to this project!</button>
</form>

<hr>
<h3>Fill in this form to change the name of the project</h3>
<form action="/update_project/<%= @project.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Change the name of this project</label>
  <input type="text" name="name">

  <button type="submit">Change the name of this project</button>
</form>
<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/projects">View All Projects</a>
  <a href="/projects/new">Add New project</a>
</div>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
